* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #060606;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
  font-family: "Outfit", sans-serif;
}

.bold {
  font-weight: 700;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav .menu-box {
  display: flex;
  gap: 30px;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

nav .menu-box li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 16px;
}

nav .logo {
  font-family: "Outfit",
    sans-serif;
  font-weight: 400;
  font-size: 48px;
  height: 60px;
}

main {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 68px;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  z-index: 10
}

/* #scene {
  inset: 0;
} */
section {
  /* min-height: 100vh; */
  padding: 50px 100px;
}

#home {
  display: flex;
  position: relative;
  min-height: 100vh;
}

.intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
  font-family: "Outfit", serif;
  position: absolute;
  left: 100px;
  top: 0;
  bottom: 0;
  z-index: 5;
}

.intro h2 {
  word-spacing: 10px;
  font-size: 42px;
  font-weight: 300;
}

.intro h1 {
  font-size: 62px;
  text-transform: uppercase;
}

.intro p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  line-height: 24px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons a {
  text-decoration: none;
  width: max-content
}

.buttons a button {
  padding: 8px 20px;
  background-color: rgb(255, 152, 0);
  border: none;
  border-radius: 30px;
  font-size: 13px;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  transition: transform 0.3s ease;
}

a button:hover {
  background-color: rgb(255, 213, 1);
  transform: scale(1.05);
}

button i {
  color: rgb(255, 152, 0);
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
}

.scroll-down {
  position: absolute;
  bottom: 200px;
  right: 100px;
  background-color: rgb(255, 152, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  z-index: 20;
}

.down-icon {
  position: relative;
  z-index: 1;
}

.down-icon i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 152, 0);
  background: #000;
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.4s ease;
  transform-origin: center;
  cursor: pointer;
}

.down-icon i:hover {
  transform: scale(1.2);
  z-index: 5;
}

.text-circle {
  position: absolute;
  width: 140px;
  height: 140px;
}

.circle-text textPath {
  font-family: "Montserrat", system-ui, sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 8px;
  text-transform: uppercase;
  fill: rgba(255, 255, 255, 0.2);
  transition: 0.3s ease;
}

.circle-text textPath:hover {
  fill: white;
}

#scene.poly {
  position: absolute;
  pointer-events: none;
  top: 50px;
  left: 60%;
  transform: translateX(-50%);
  width: 650px;
  height: 650px;
  z-index: 0;
}

#scene-small.poly {
  /* small one: top right */
  position: fixed;
  top: -34px;
  right: -24px;
  width: 220px;
  height: 220px;
  z-index: 1;
  background: transparent;
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 50vh;
}

/* .projects * {
  border: 1px solid white
} */
.project-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.project-item {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px;
  gap: 30px;
  justify-content: center;
  position: relative;
}

.progress {
  background-color: rgb(255, 152, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item .description {
  opacity: 0;
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  overflow: hidden;
  line-height: 24px;
}

.project-code {
  /* color: rgb(255, 152, 0); */
  display: flex;
  gap: 20px;
  height: 50px;
}

.project-code a {
  text-decoration: none;
}

.project-code i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact .contact-heading {
  color: white;
  text-align: center;
  font-size: 68px;
  padding-bottom: 20px;
  letter-spacing: 3px;
  word-spacing: 5px;
  width: 90%;
}

.contact .contact-methods {
  color: white;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.email,
.linkedin {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.contact-methods i {
  font-size: 16px;
  color: white;
}

.line {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.line svg path {
  width: 90%;
}

#about {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.about-and-skills {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 60%;
  justify-content: start;
  align-items: start;
}

.about-and-skills h2 {
  font-weight: 500;
  font-size: 28px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about p {
  color: rgba(255, 255, 255, 0.4);
  line-height: 24px;
}

.about h2 {
  font-weight: 300;
}

.skills {
  width: 100%;
}

.skill-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skills h2 {}

.skills ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  grid-auto-columns: minmax(160px, auto);
  gap: 20px;
  list-style: none;
}

.skills ul li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  padding: 20px 0;
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 90%;
}

.skills ul li i {
  color: rgba(255, 152, 0, 0.5);
  font-size: 18px;
}

.skills ul li img {
  height: 20px;
}

.contact-icons {
  display: flex;
  gap: 30px;
  font-size: 24px;
}

.contact-icons a {
  text-decoration: none;
  color: white;
}

.mil-lines-place {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 260px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mil-lines {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 260px;
  transform: translate(-50%, -50%);
  display: block;
  will-change: transform;
}

.mil-lines path {
  fill: rgba(255, 255, 255, 0.4);
}

.mil-move {
  opacity: 0.8;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

#experience {}